// Variables
@use "variables";

// Bootstrap
@use "bootstrap/dist/css/bootstrap.rtl.min.css";

// Fortawesome
@use "@fortawesome/fontawesome-free/css/fontawesome.css";
@use "@fortawesome/fontawesome-free/css/solid.css";

// Custom
@use "../css/app.css";
